[GENERAL]
# Interval is seconds between each scraping scheduled task, default is ~4 hours
Interval=16800
# Iterations is the count of scrap tasks performed before exit; set to zero for indefinite
Iterations=0
# Attempts is the number of web requests errors before failure
Attempts=1
# Verbose produces debug log and screenprints to '/data'
Verbose=False

[XFINITY]
# NOTE: Username should not included any domain, i.e. '@comcast.net'; just the id before '@'
Username=xfinitycomcast
Password=secretdontusequotesforsure

[LOG]
Enabled=True

[FILE]
Enabled=True
# JSON output is written to to '/data'
Filename=output.json

[MQTT]
Enabled=False
Username=
Password=
Address=
Retain=True
Port=1883
Topic=xfinity/payload

[INFLUXDB]
Enabled=False
Address = 127.0.0.1
Port = 8086
Database = xfinity
Username =
Password =
Verify_SSL = False
